*{
    margin: 0;
    padding: 0;
}
.header-wrapper{
    width: 100%;
    height: 65px;
    background-color: rgba(34,49, 52, 0.9);
    color: white;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: 10;
}
.header-container{
    width: 80%;
    margin: 0 auto;
}
.header-logo{
    float: left;
    width: 124px;
    margin-top: 20px;
}
.header-right{
    float: right;
}
.header-right ul{
    list-style: none;
    font-size: 10px;
    margin: auto 0;
    width: auto;
}
.header-right li{
    float: left;
    padding-left: 10px;
}

.top-wrapper{
    background-image: url(https://github.com/srzwkny/html_lesson/blob/master/top.png?raw=true);
}
.top-container{
    width: 80%;
    color: white;
    opacity: 0.7;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-top: 50px;
}
.top-container h1{
    letter-spacing: 5px;
    opacity: 0.7;
    font-size: 45px;
}
.top-container p{
    font-size: 10px;
}
.btn{
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 10px;
}
.signup{
    background-color: rgba(0, 176, 83, 0.9);
    margin-top: 20px;
}
.facebook{
    background-color: rgba(59, 89, 152, 0.9);
    margin-right: 10px;
}
.twitter{
    background-color: rgba(29, 161, 242, 0.9);
}
