.header-wrapper{
    width: 100%;
    height: 100px;
    background-color: rgba(62,58, 57, 0.8);
    color: white;
    background-size: cover;
}
.header-container{
    width: 1170px;
}
.header-logo{
    float: left;
    padding: 20px 0;
}
.header-right{
    float: right;
}
.header-right ul{
    list-style: none;
    font-size: 10px;
}
.header-right li{
    float: left;
    padding-left: 10px;
}

.top-wrapper{
    background-image: url(https://github.com/srzwkny/html_lesson/blob/master/top.png?raw=true);
}
.top-container{
    width: 1170px;
    color: white;
    opacity: 0.7;
    margin: 0 auto;
    display: block;
}
.btn{
    padding: 5px 10px;
    border-radius: 5px;
}
.signin{
    background-color: rgba(0, 176, 83, 0.9);
}
.facebook{
    background-color: rgba(59, 89, 152, 0.9);
}
.twitter{
    background-color: rgba(29, 161, 242, 0.9);
}
